/env/
/chapter4/util/__pycache__/
env/
/env
env
/venv/
venv/
/venv
venv
.vscode/
.mypy_cache/
/.mypy_cache/
/.mypy_cache
App
App/
/App
/App/
Console-Launcher.exe

chapter6/googlebooks-eng-all-1gram-20120701-a
