version: "3.0"
services:
  db:
    container_name: "dbasyncbook"
    #image: postgres:14.1-alpine
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=products
    ports:
      - "46432:5432"
        # первая часть наш комп, вторая - в контейнере - вроде как
    # networks:
    #   - custom
# networks:
#   custom:
#     driver: bridge

# sudo docker-compose -f docker-compose-pg.yaml up -d